<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concept Ideation</title>
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Load css -->
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
<!-- Navigation -->
  <!-- Black horizontal navbar with white text -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <!-- Tab Panes -->
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/">Home</a></li>
        <li class="nav-item"><a class="nav-link active" href="http://127.0.0.1:5000/Data_API">Database Integration</a></li>
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/Prediction">Predictor App</a></li>
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/api_json_connectivity">API</a></li>
        <li class="nav-item"><a class="nav-link" href="https://raw.githubusercontent.com/lhenry97/Group_1-Project_4/refs/heads/main/README.md">README.md</a></li>
      </ul>
    </div>
  </nav>


<div class="container mt-2">
  <!-- Header -->
  <h1>Data Fetching and API Integration</h1>

    <!-- Content Begin--> 
    <p>This section explains how to connect to a PostgreSQL database using <code>psycopg2</code> in Python.</p>

    <h3>Database Setup (pgAdmin4)</h3>
    <ol>
        <li>Download/clone all the files from the dataset from <a href="https://github.com/lhenry97/Group_1-Project_4.git">this link</a>.</li>
        <li>Open pgAdmin 4 and create a new database called <strong>Cancer_db</strong>.</li>
        <li>Right-click on <strong>Cancer_db</strong> and select <strong>Query Tool</strong>.</li>
        <li>Select the Folder icon to open a file called <code>cancer_data.sql</code> from the data folder.</li>
        <li>Run the "create table" query to load the table columns.</li>
        <li>Refresh the Table in Schemas, right-click on <strong>Cancer_Data</strong> table and select <strong>Import/Export data</strong>.</li>
        <li>Find the file called <code>Cancer_Data.csv</code> also in the "data" folder and open this file.</li>
        <li>In the Options menu, set Header to "active" and Delimiter as ",".</li>
        <li>Optionally, run the <code>json_agg</code> query in the <code>cancer_data.sql</code> to produce the data in JSON format.</li>
    </ol>

    <figure>
      <img src="https://raw.githubusercontent.com/CathyMatthee/predictor_app/main/images/pgAdmin%204.png" alt="pgAdmin 4" width="600" />
    </figure>

    <h3>Fetching and Flask API Integration</h3>
    <ol>
        <li>From the root directory of the repo, open <code>app.py</code> file.</li>
        <li>Install <code>psycopg2</code> and <code>numpy</code> if you need to: use <code>pip</code> to install the libraries.</li>
        <li>Create a new file in the root directory called <code>config.py</code> where you provide your pgAdmin password in a safe manner. Add this text to the file: <code>password = "your_password_here"</code> and replace <code>your_password_here</code> with your real password. Save this in the root directory of the cloned repo. This <code>config.py</code> file is referenced in the <code>.gitignore</code> file for safety reasons and is not present in the GitHub repo.</li>
        <li>You can also add <code>db_host = "localhost"</code> to the file <code>config.py</code> if connecting to the local server. If you are connecting remotely to the database, you could potentially use the IP of one of your teammates' servers by referencing their IP address instead of <code>localhost</code>.</li>
        <li>In the git bash terminal, activate your dev environment from the local repo and run <code>python app.py</code> to make a connection to the database where the Flask app will serve the database data in JSON, dynamically to the machine learning models, ensuring they are trained on the most up-to-date data.</li>
        <li>Select <strong>CTRL + click</strong> on the link that is output in the bash terminal that deploys the Flask locally in a window.</li>
        <li>Select the <strong>Predictor_App</strong> option in the top navigation bar to go straight to the machine learning app that will predict cancer.</li>
    </ol>

    <figure>
      <img src="https://raw.githubusercontent.com/CathyMatthee/predictor_app/main/images/Predictor%20App.png" alt="Predictor App" width="300" />
    </figure>
    <!-- Content End --> 
     
</div>

</body>
</html>