<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusion</title>
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Load css -->
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
<!-- Navigation -->
  <!-- Black horizontal navbar with white text -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <!-- Tab Panes -->
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/Prediction">Predictor App</a></li>
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/api_json_connectivity">API</a></li>
        <li class="nav-item"><a class="nav-link" href="https://raw.githubusercontent.com/lhenry97/Group_1-Project_4/refs/heads/main/README.md">README.md</a></li>
      </ul>
    </div>
  </nav>

<!-- Run JS function to toggle active menu bar options on-->
<script src="./static/js/script.js"></script>

<!-- Header -->
<div class="container mt-2">
  <h1>Conclusion</h1>
  
  <h2>Ensemble Approach Overview</h2>
  <p>An ensemble approach is a method that uses all the models where the ideal algorithm has low bias (accurately models the true relationship in the data) and low variability (producing consistent predictions across different datasets).</p>

  <p>Since all of the 4 models produced strong performance metrics, we considered leveraging the strengths of all the models with a max count ensemble method or majority rules approach. When resolving any ties, the SVM model was utilized because it resulted in the best performance metrics for the ensemble. Additionally, our SVM model is able to reduce computational resources by reducing dimensionality to only using 5 features. By focusing on these 5 features, we simplify the interpretability of the model and can guide future feature engineering efforts to optimize the model further.</p>

  <p>The ensemble method produced excellent performance metrics with an overall accuracy of 0.98. The precision score of 1.0 indicates that predicted malignancies were 100% accurate. The recall score of 0.94 indicates that 94% of actual malignancies were accurately predicted.</p>

  <p>Even though the low error rate of 3 false negatives is a good result, in a medical context the consequences of not identifying malignancies such as these 3 instances can have serious and longstanding implications.</p>

  <p>Collaborating with the healthcare community will enhance the model's performance and reduce error rates. By incorporating carefully curated input from healthcare professionals into the model's prediction app, we can improve its accuracy and relevance.</p>

  <p>This prediction app will not only assist healthcare professionals in their decision-making processes but also facilitate the collection of additional data in the future. This continuous feedback loop will ensure that the models remain up-to-date and provide reliable support for clinical decisions and early intervention.</p>
</div>
</body>
</html>