<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1 Machine Learning Project</title>

    <style>
        #ML_models {
            color: pink;
        }
        .menu_pages {
            color: green;
        }
        #report {
            color: orangered;
        }
    </style>

</head>

<body>

  <!-- Header -->
  <h1>Cancer Prediction Project</h1>

  <!-- Image -->
  <img src="https://c.pxhere.com/images/fe/8c/b915fc5d7667d29dd9a3eedae59a-1638452.jpg!d"
       alt="robot hand touching human hand"
       style="width: 500px; height: auto;" />
  <br />

  <!-- Link with New Tab -->
  <!-- <a href="https://www.google.com" target="_blank">Opens google in a new tab</a>
  <br /> -->

  <!-- Bold Link that opens in same tab-->
  <!-- <strong><a href="https://www.youtube.com">This is a bold link to youtube in same tab</a></strong>
  <br /> -->

  <!-- Placeholder link -->
  <!-- <a href="#">This is placeholder link goes nowhere, for now</a> -->

  <!-- Paragraph -->
  <p>Welcome to the cancer machine learning predictor app. <br />
    Please use the links below to navigate the site to learn more about this project.  <br />
    To go straight to the predictor app, please go to "Predictor App" link below.
  </p>

  <!-- Otherwise dot/bullet points unordered list -->
  <ul class="menu_pages">
    <!-- Placeholder link -->
    <li><a href="">Home</a></li>
    <!-- Placeholder link -->
    <li class="info"><a href="#">About Page</a></li>
    <!-- Goes to link in same tab -->
    <li>Machine Learning Models</li>
      <!-- Ordered List -->
      <!-- Otherwise dot points -->
      <ol id="ML_models">
        <li><a href="http://127.0.0.1:5000/Zahra_LR">Linear Regression</a></li>
        <li><a href="http://127.0.0.1:5000/Jess_Aria_SVM">SVM</a></li>
        <li><a href="http://127.0.0.1:5000/Jess_Aria_RF">Random Forest</a></li>
        <li><a href="http://127.0.0.1:5000/Cathy_NN_KT">Keras Tuner</a></li>
      </ol>
      <!-- normal ul with class -->
    <li id="report"><a href="http://127.0.0.1:5000/Lauren_Eval">Evaluation</a></li>
    <!-- Goes to link in new page/tab -->
    <li><a href="http://127.0.0.1:5000/db_data">Jsonified data from postgres</a></li>

    <li><a href="http://127.0.0.1:5000/Prediction">Predictor App</a></li> 
    <!-- Goes to link in same tab -->
    <li id="report"><a href="http://127.0.0.1:5000/viz1">Vizs</a></li>

  </ul>

</body>

</html>