<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Forest Model</title>
    <!-- Load bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Load css -->
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
<!-- Navigation -->
  <!-- Black horizontal navbar with white text -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <!-- Tab Panes -->
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/Prediction">Predictor App</a></li>
        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/api_json_connectivity">API</a></li>
        <li class="nav-item"><a class="nav-link" href="https://raw.githubusercontent.com/lhenry97/Group_1-Project_4/refs/heads/main/README.md">README.md</a></li>
      </ul>
    </div>
  </nav>

<!-- Run JS function to toggle active menu bar options on-->
<script src="./static/js/script.js"></script>

<!-- Header -->
<div class="container mt-2">
  <h1>Random Forest Model</h1>
  <h3>Goal</h3>
<p>
    This part of the project leverages a Random Forest model to classify outcomes in a medical dataset, particularly predicting benign (B) or malignant (M) cancer diagnoses. By utilizing the feature importance from the Random Forest, we aim to identify the most crucial features contributing to these predictions. We will then refine the dataset by selecting these critical features, enhancing both the model's efficiency and interpretability.
</p>

<h3>Contents</h3>
<p>
    This notebook, <code>ML_RF_Models_AL.ipynb</code>, documents the complete workflow of the Random Forest analysis, feature selection using feature importance, model training, optimizing the model, and evaluating and testing with the model created.
</p>
<ul>
    <li><code>rf_model.pkl</code>: This is the saved version of the trained Random Forest model, ready for future predictions.</li>
    <li><code>best_model.pkl</code>: This is the saved and optimized Random Forest model, refined with the top 11 features, and is suitable for future predictions with fewer features.</li>
</ul>

<h3>Steps</h3>
<p>
    Initially, a basic Random Forest model was trained and the feature importance was accessed. Based on this analysis, the top 11 features were selected to construct a refined second model. This second model was then optimized using GridSearchCV. To evaluate the performance of the optimized model, metrics such as accuracy score, confusion matrix, and cross-validation scores were employed. Finally, the model's performance was validated by testing it with unseen data.
</p>

<h3>Key Findings:</h3>
<ol>
    <li>Reduced Accuracy: The model's accuracy decreased from 96% to 95% after reducing the number of features. This suggests a slight impact on overall performance.</li>
    <li>Importance of Removed Features: The increase in false negatives indicates that some of the removed features were essential for correctly identifying malignant cases. Their exclusion led to a decrease in the model's ability to detect these critical instances.</li>
</ol>

<h4>Lesson Learned:</h4>
<p>
    To conclude, it's apparent that retaining a broader set of features is beneficial for achieving optimal results. This ensures that crucial information isn't lost, enhancing the model’s ability to make accurate and reliable predictions. This experience underscores the importance of balancing model simplicity with the retention of essential predictive information for high-stakes applications like medical diagnosis.
</p>
</div>

</body>
</html>
